.header_div{
    background-color: white;
}

.result{
    background-color: grey;
    border-radius: 15px;
}

.result img{
    width: 70%;
    border-radius: 10px;
}
span{
    display: inline-block;
    vertical-align: top;
}
.bg_output{
    background-color: white;
    width: fit-content;
    height: 30px;
    border-radius: 10px;
    font-size: 19px;
}

#conclusion{
    margin-bottom: 50px;
}
#conclusion h4{
    text-align: left;
    background: rgb(196, 149, 224);
    border-radius: 10px;
    padding: 5px;
}